<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511747648423-dlgingvmgghe3oaos0u2b8vn9kclg2mn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511747648423-dlgingvmgghe3oaos0u2b8vn9kclg2mn</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ1W9dgLgjtl-P3tRIVS2ZKEwzrcY_O3U</string>
	<key>GCM_SENDER_ID</key>
	<string>511747648423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.calculator</string>
	<key>PROJECT_ID</key>
	<string>scientific-calculator-5aa5d</string>
	<key>STORAGE_BUCKET</key>
	<string>scientific-calculator-5aa5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511747648423:ios:9f10d8dd4dd33fbcdfa482</string>
	<key>DATABASE_URL</key>
	<string>https://scientific-calculator-5aa5d.firebaseio.com</string>
</dict>
</plist>